@model Index.Result
@using System.Threading.Tasks
@using MediatRSample.Features.Customer

@{

    ViewBag.Title = "Customers";
}

<h2>Customers</h2>

<p>
    @Html.ActionLink("Create New", nameof(CustomerController.Create))
</p>
@*<form method="GET">
    <p>
        Find by name: @Html.TextBoxFor(m => m.SearchString)
        <input type="submit" value="Search" />
    </p>
</form>*@
<table id="customersTable" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                Last Name
                @*@Html.ActionLink("Last Name", nameof(CustomerController.Index), new Index.Query { SortOrder = Model.NameSortParm, CurrentFilter = Model.CurrentFilter })*@
            </th>
            <th>
                First Name
                @*@Html.ActionLink("First Name", nameof(CustomerController.Index), new Index.Query { SortOrder = Model.FirstNameSortParm, CurrentFilter = Model.CurrentFilter })*@
            </th>
            <th>
                Email
                @*@Html.ActionLink("Email", nameof(CustomerController.Index), new Index.Query { SortOrder = Model.EmailSortParm, CurrentFilter = Model.CurrentFilter })*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 0; }
        @foreach (var item in Model.Results)
            {
            <tr>
                <td>
                    @Html.DisplayFor(m => m.Results[i].LastName)
                </td>
                <td>
                    @Html.DisplayFor(m => m.Results[i].FirstName)
                </td>
                <td>
                    @Html.DisplayFor(m => m.Results[i].Email)
                </td>
                <td>
                    @Html.ActionLink("Edit", nameof(CustomerController.Edit), new Edit.Query { Id = item.ID }) |
                    @Html.ActionLink("Details", nameof(CustomerController.Details), new Details.Query { Id = item.ID }) @*|
    @Html.ActionLink("Delete", nameof(CustomerController.Delete), new Delete.Query { Id = item.ID })*@
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>
<br />
@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {

            $('#customersTable').DataTable();

        });

    </script>
}